*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(76, 184, 144);
}

h1{
    font-size: x-large;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
}

header{
    background-color: rgb(124, 150, 139);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main{
    margin-top: 10rem;
    padding: 1.25rem;
}
.iconoshead{
display: flex;
flex-direction: row;
align-content: flex-start;


}
.iconoshead img {
    width: 20px; /* Ajusta el ancho de los iconos */
    height: 20px; /* Ajusta la altura de los iconos */
}

/* Opcional: Ajustar los botones para que se adapten al tama침o de las im치genes */
.iconoshead button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.napa{
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

a{
    text-decoration: none;
    color: black;
    
}


.napa ul {
    display: flex;
    font-size: larger;
    gap: 1.25rem;
    padding-right: 1.25rem;
}


.redes{
    padding-top: 1.25rem;
    display: flex;
    justify-content: flex-end;
}


.PartePrincipal {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "imagenBody imagenBody1"
        "imagenBody2 imagenBody3"
        ;
    gap: 20px; /* A침ade espacio entre las 치reas del grid */
    align-content: center;
    justify-content: center;
}

.imagenBody {
    grid-area: imagenBody;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    
}

.imagenBody1 {
    grid-area: imagenBody1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.imagenBody2 {
    grid-area: imagenBody2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.imagenBody3 {
    grid-area: imagenBody3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}





.rectangulo a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.PartePrincipal p {
    background-color: rgb(143, 168, 124)    ;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
 
}

ul{
list-style: none;
}

.rectangulo {
    width: 100%;
    height: 50%;
    background-color: rgb(130,184,89);
    border: 2px solid rgb(0, 0, 5);
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style:large;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rectangulo a {

    color: rgb(0, 0, 5);
    text-decoration: none;
}
.rectangulo a:hover {
    color: rgb(0, 0, 8);
    font-weight: bold;
}

.rectangulo button{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: red;
}

.icono{
    display: flex;
    flex-direction: row;

}

.bodyaceites{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
     
}
.item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;

}
.item2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    
}
.item3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    
}
.item4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
}

.comprasbody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.compras1{
    display: flex;
   
}
.compras2{
    display: flex;
}
.compras3{
    display: flex;
}

.historiabody{

    display: flex;
    flex-direction: column;
    gap:20px;
}

.bodyproduc{
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    gap: 1.25rem;

}

.produc1{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
}

.produc2{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
}

.produc3{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}


.historiabody{
    font-size: large;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.tituloproduc h1 {
   padding-top: 1.25rem;
   
}