*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-size: x-large;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: rgb(81, 134, 117);
}

main{
    margin-top: 11.5rem;
    padding: 1.25rem;
   
}

.iconoshead{
display: flex;
flex-direction: row;
align-content: flex-start;


}
.iconoshead img {
    width: 20px; 
    height: 20px;
    }

.iconoshead button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


/* styles.css */
.napa {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    gap: .3125rem;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    
}
.navbar-nav .nav-link img {
    width: 2rem;
    transition: transform 0.3s;
}

.navbar-nav .nav-link img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-link{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



footer {
    background-color: #f8f8f8; 
    padding: 1.25rem 0; /* Espaciado vertical */
    text-align: center; /* Centrar texto en dispositivos móviles */
}

.redes {
    display: flex;
    flex-direction: column; /* Cambia a columna para dispositivos móviles */
    align-items: center;
    justify-content: center;
}

.redes p {
    margin: 0;
    font-size: 1rem;
    color: #333; /* Color del texto */
    margin-bottom: 0.5rem; /* Espacio debajo del texto */
}

.redes div {
    display: flex;
    justify-content: center;
}

.redes img {
    width: 2rem; /* Tamaño de los íconos */
    margin: 0 0.5rem; /* Espacio entre los íconos */
    transition: transform 0.3s; /* Transición para efectos hover */
}

.redes img:hover {
    transform: scale(1.1); /* Agrandar íconos al pasar el ratón */
    cursor: pointer; /* Cambiar cursor a pointer */
}


/* Estilo base para el título */
.tituloindex {
    font-family: 'Teko', sans-serif; /* Cambia la tipografía según tu preferencia */
    font-size: 3rem; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    position: relative; 
    margin-bottom: 1rem; /* Espacio inferior */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 0.1rem; /* Espaciado entre letras */
    transition: color 0.3s, transform 0.3s; /* Transición para efectos de hover y focus */
}

/* Pseudoelemento ::before */
.tituloindex::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Ajusta la posición según sea necesario */
    left: 50%;
    width: 50%;
    height: 4px; /* Grosor de la línea */
    background-color: #812814; /* Color de la línea */
    transform: translateX(-50%); /* Centrar la línea */
    transition: background-color 0.3s; /* Transición para el color de la línea */
}

/* Pseudoelemento ::after */
.tituloindex::after {
   
    position: absolute;
    top: -1.5rem; /* Ajusta la posición según sea necesario */
    right: -1.5rem; /* Ajusta la posición según sea necesario */
    font-size: 1.5rem; /* Tamaño del icono */
    color: #942d16; /* Color del icono */
    
}

/* Pseudoclase :hover */
.tituloindex:hover {
    color: #942d16; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.05); /* Escala el título ligeramente */
}

/* Pseudoclase :focus */
.tituloindex:focus {
    outline: none; /* Quita el contorno de enfoque por defecto */
    color: #942d16; /* Cambia el color del texto al enfocar */
    transform: scale(1.05); /* Escala el título ligeramente */
}



.PartePrincipal {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "imagenBody imagenBody1"
        "imagenBody2 imagenBody3"
        ;
    gap: 20px; /* Añade espacio entre las áreas del grid */
    align-content: center;
    justify-content: center;
}




.imagenBody {
    grid-area: imagenBody;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    
}

.imagenBody1 {
    grid-area: imagenBody1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.imagenBody2 {
    grid-area: imagenBody2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.imagenBody3 {
    grid-area: imagenBody3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}


.rectangulo a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.PartePrincipal p {
    
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
 
}

ul{
list-style: none;
}

.rectangulo {
    width: 100%;
    height: 50%;
    background-color: rgb(130,184,89);
    border: 2px solid rgb(0, 0, 5);
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style:large;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rectangulo a:hover {
    color: rgb(0, 0, 8);
    font-weight: bold;
}

.rectangulo button{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: red;
}

.icono{
    display: flex;
    flex-direction: row;

}

.bodyaceites{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.25rem; 
}
.item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;

}
.item2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    
}
.item3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    
}
.item4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
}

.comprasbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compras1, .compras2, .compras3 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
}

.compras1 div, .compras2 div, .compras3 div {
    display: flex;
    align-items: center;
}

.compras1 button, .compras2 button, .compras3 button {
    width: 6.25rem;
    height: 2.5rem;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-left: 10rem; 
}



.historiabody{
   margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: start;
    align-content: flex-start;
}



.bodyproduc{
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    gap: 1.25rem;

}

.produc1{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
}

.produc2{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
}

.produc3{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}


.historiabody{
    font-size: large;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.tituloproduc h1 {
   padding-top: 1.25rem;
   
}

  
@media(max-width:768px) and (orientation:landscape){
   

    }
        
@media(max-width:425px){
    
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        height: 6.25rem;
        z-index: 1000;
   
    }


    .PartePrincipal {
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .iconoshead{
        display: none;
    }

    .napa{
        display: flex;
        margin-top: 10px;
        flex-direction: row-reverse;
        justify-content: space-around;
        font-size: small;
        text-align: right;
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;

    }
    main{
        margin-top: 6.25rem;
        padding: 1.25rem;
               
    }
}

@media (max-width:320px){
     
    .napa{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .rectangulo {
        width: 100%;
        height: 50%;
        background-color: rgb(255, 255, 255);
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
   
    .iconoshead{
        display: none; 
        }

    

}