* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand,
.nav-link,
.form-control,
.btn-outline-success {
  color: black !important;
  font-family: rgb(0, 0, 5);
}

header {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
header .navbar {
  padding: 1rem 2rem;
}
header .navbar .navbar-brand {
  color: #343a40 !important; /* Dark gray text */
  font-size: 1.5rem;
  font-weight: bold;
}
header .navbar .nav-link {
  color: #343a40 !important; /* Dark gray text */
  font-size: 1rem;
  margin-right: 1rem;
}
header .navbar .nav-link:hover, header .navbar .nav-link.active {
  color: #28a745 !important; /* Green on hover and active */
}
header .navbar .navbar-toggler {
  border-color: #28a745; /* Green border */
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28256, 87, 34, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* Custom icon color */
}
@media (max-width: 992px) {
  header .navbar .navbar-collapse {
    justify-content: center;
  }
  header .navbar .navbar-collapse .nav-item {
    margin-bottom: 10px;
  }
}
header .Logotipo img {
  max-width: 100%;
  height: auto;
}

/* Search form styling */
.form-control {
  border-radius: 0.25rem;
  border-color: #ced4da; /* Light gray border */
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}
.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

main {
  margin-top: 0;
  padding: 1.5rem;
  background-image: linear-gradient(to right bottom, #314f36, #426448, #547a5a, #66906d, #79a781, #7bb184, #7eba87, #80c48a, #71c27c, #61bf6e, #50bc60, #3cb950);
}

.titulo-pag {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
a {
  text-decoration: none;
  color: black;
}

.tituloindex {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  color: #333;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.3s, transform 0.3s;
}
.tituloindex::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 50%;
  height: 4px;
  background-color: #812814;
  transform: translateX(-50%);
  transition: background-color 0.3s;
}
.tituloindex::after {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 1.5rem;
  color: #942d16;
}
.tituloindex:hover {
  color: #942d16;
  transform: scale(1.05);
}
.tituloindex:focus {
  outline: none;
  color: #942d16;
  transform: scale(1.05);
}

.PartePrincipal {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  gap: 1.25rem;
  grid-template-areas: "imagenBody imagenBody1" "imagenBody2 imagenBody3";
  font-family: "Teko", sans-serif;
  font-size: x-large;
  text-align: justify;
}

.imagenBody, .imagenBody1, .imagenBody2, .imagenBody3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: 1.25rem;
}

.imagenBody {
  grid-area: imagenBody;
}

.imagenBody1 {
  grid-area: imagenBody1;
}

.imagenBody2 {
  grid-area: imagenBody2;
}

.imagenBody3 {
  grid-area: imagenBody3;
}

.rectangulo {
  background-color: rgb(129, 163, 102);
  border: 2px solid rgb(0, 0, 5);
  font-family: "Teko", sans-serif;
  font-weight: bold;
}
.rectangulo a {
  color: black;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
}
.rectangulo a:hover {
  color: rgb(0, 0, 5);
}

.containeraceites {
  display: grid;
  gap: 20px;
}
.containeraceites .item1, .containeraceites .item2, .containeraceites .item3 {
  position: relative;
  padding: 1rem;
  background-color: rgb(129, 163, 102);
  text-align: justify;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}
.containeraceites .item1 img, .containeraceites .item2 img, .containeraceites .item3 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}
.containeraceites .item1 p, .containeraceites .item2 p, .containeraceites .item3 p {
  font-family: "Teko", sans-serif;
  font-weight: bold;
  color: #333;
  background-color: rgb(129, 163, 102);
  font-size: 50px;
}
@media (max-width: 768px) {
  .containeraceites .item1 img, .containeraceites .item2 img, .containeraceites .item3 img {
    display: none;
  }
  .containeraceites .item1 img:after, .containeraceites .item2 img:after, .containeraceites .item3 img:after {
    content: "";
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
  }
  .containeraceites .item1 .item1:after, .containeraceites .item2 .item1:after, .containeraceites .item3 .item1:after {
    background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.35.jpeg");
  }
  .containeraceites .item1 .item2:after, .containeraceites .item2 .item2:after, .containeraceites .item3 .item2:after {
    background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.36.jpeg");
  }
  .containeraceites .item1 .item3:after, .containeraceites .item2 .item3:after, .containeraceites .item3 .item3:after {
    background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.36 (1).jpeg");
  }
  .containeraceites .item1 p, .containeraceites .item2 p, .containeraceites .item3 p {
    position: relative;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
    border-radius: 8px;
    font-size: 25px;
  }
}
@media (min-width: 769px) {
  .containeraceites .item1 img, .containeraceites .item2 img, .containeraceites .item3 img {
    display: block;
    width: 15%;
  }
  .containeraceites .item1 p, .containeraceites .item2 p, .containeraceites .item3 p {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 1rem;
    background-color: rgb(129, 163, 102);
    color: #333;
    font-size: 20px;
  }
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon {
  position: absolute;
  right: 25px;
  bottom: 60px;
}
.social_icon span {
  font-size: 45px;
  margin-left: 10px;
  color: black;
}
.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #28a745;
  color: black;
  border: 0 !important;
  margin: 10px;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.login_btn {
  color: black;
  background-color: #28a745;
  width: 100px;
}
.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}
.links a {
  margin-left: 4px;
}

.comprasbody {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: none;
  margin-top: 20px;
}

.compras1, .compras2, .compras3 {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: none;
}
.compras1 div, .compras2 div, .compras3 div {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: none;
}
.compras1 button, .compras2 button, .compras3 button {
  width: 200px;
  height: 2.5rem;
  font-size: medium;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin-left: 1.875rem;
}

.button-pgcompras {
  background-color: #28a745;
  color: white;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-pgcompras:hover {
  background-color: #218838;
  transform: scale(1.05);
}
.button-pgcompras:active {
  background-color: #1e7e34;
  transform: scale(0.95);
}
.button-pgcompras:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 180, 97, 0.5);
}

.table-responsive {
  margin-top: 20px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}
.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}
.table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }
  .table th, .table td {
    padding: 10px;
  }
  .table th {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .table {
    font-size: 12px;
  }
  .table th, .table td {
    padding: 8px;
  }
  .table th {
    font-size: 12px;
  }
}
.historiabody {
  padding: 2rem;
  text-align: justify;
}
.historiabody .titulo-pag {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.historiabody .text1, .historiabody .text2, .historiabody .text3, .historiabody .text4 {
  margin-bottom: 1.5rem;
}
.historiabody .text1 p, .historiabody .text2 p, .historiabody .text3 p, .historiabody .text4 p {
  font-family: "Teko", sans-serif;
  font-size: x-large;
  text-align: justify;
}

.bodyproduc {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: 1.25rem;
  font-size: 16px;
  text-align: justify;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.produc1, .produc2, .produc3 {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: 1.25rem;
  padding-left: 1.25rem;
}

.produc3 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.containerhistorias {
  width: 25.5rem;
  height: 25.5rem;
  margin-top: 60px;
}
.containerhistorias .carousel-item img {
  max-height: 400px;
  object-fit: cover;
}
@media (max-width: 768px) and (orientation: landscape) {
  .containerhistorias {
    display: none;
  }
}
@media (max-width: 425px) {
  .containerhistorias {
    display: none;
  }
}

@media (max-width: 769px) {
  .card {
    width: 90%;
  }
  .social_icon span {
    display: none;
  }
  .card-header h3 {
    font-size: 1.5rem;
  }
  .input-group-prepend span {
    width: 40px;
  }
  .input-group-text {
    font-size: 1rem;
  }
  .login_btn {
    width: 100%;
  }
  .historiabody {
    padding: 1rem;
  }
  .historiabody .titulo-pag {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .historiabody .text1, .historiabody .text2, .historiabody .text3, .historiabody .text4 {
    margin-bottom: 1rem;
  }
  .historiabody .text1 p, .historiabody .text2 p, .historiabody .text3 p, .historiabody .text4 p {
    font-size: 10px;
    line-height: 1.4;
    font-family: "Teko", sans-serif;
  }
  .containerhistorias {
    margin-top: 1rem;
  }
  .containerhistorias .carousel-item img {
    max-height: 200px;
    object-fit: cover;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
  .titulo-pag {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
  }
  .bodyproduc {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: none;
    gap: 1.25rem;
    font-size: 14px;
    text-align: justify;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .produc1, .produc2, .produc3 {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
  }
  .produc3 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .comprasbody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: none;
    padding: 1rem;
  }
  .compras1, .compras2, .compras3 {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .compras1 div, .compras2 div, .compras3 div {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
    margin-top: 15px;
  }
  .compras1 button, .compras2 button, .compras3 button {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  .item1 img, .item2 img, .item3 img {
    display: none;
  }
  .item1 img:after, .item2 img:after, .item3 img:after {
    content: "";
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
  }
  .item1 .item1:after, .item2 .item1:after, .item3 .item1:after {
    background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.35.jpeg");
  }
  .item1 .item2:after, .item2 .item2:after, .item3 .item2:after {
    background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.36.jpeg");
  }
  .item1 .item3:after, .item2 .item3:after, .item3 .item3:after {
    background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.36 (1).jpeg");
  }
  .item1 p, .item2 p, .item3 p {
    position: relative;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
    border-radius: 8px;
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .PartePrincipal {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .rectangulo1 {
    display: none;
  }
  .compras1, .compras2, .compras3 {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .compras1 div, .compras2 div, .compras3 div {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
    margin-top: 15px;
  }
  .compras1 button, .compras2 button, .compras3 button {
    margin-left: 0%;
    margin-top: 20px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .social_icon {
    display: none;
  }
  .rectangulo1 {
    display: none;
  }
  .containerhistorias {
    display: none;
  }
  .compras1, .compras2, .compras3 {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .compras1 div, .compras2 div, .compras3 div {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
    margin-top: 15px;
  }
  .compras1 button, .compras2 button, .compras3 button {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
