// Variables
$primary-color: rgb(81, 134, 117);
$secondary-color: rgb(130, 184, 89);
$dark-color: rgb(0, 0, 5);
$text-color: black;
$highlight-color: #812814;
$hover-color: #942d16;
$font-family: "Teko", sans-serif;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typography
h1 {
    font-size: x-large;
    text-align: center;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

// Header
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: $primary-color;
}

main {
    margin-top: 11.5rem;
    padding: 1.25rem;
}

// Icons
.iconoshead {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    img {
        width: 20px;
        height: 20px;
    }

    button {
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
}

// Napa

// Links
a {
    text-decoration: none;
    color: $text-color;
}

// Navbar
.navbar-nav {
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .625rem;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
    gap: .3125rem;
}

// Title
.tituloindex {
    font-family: $font-family;
    font-size: 3rem;
    color: #333;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: color 0.3s, transform 0.3s;

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 50%;
        height: 4px;
        background-color: $highlight-color;
        transform: translateX(-50%);
        transition: background-color 0.3s;
    }

    &::after {
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
        font-size: 1.5rem;
        color: $hover-color;
    }

    &:hover {
        color: $hover-color;
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
        color: $hover-color;
        transform: scale(1.05);
    }
}

// Main Content
.PartePrincipal {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "imagenBody imagenBody1"
        "imagenBody2 imagenBody3";
    gap: 20px;
    align-content: center;
    justify-content: center;
    font-family: $font-family;
    font-size: x-large;
}

.imagenBody, .imagenBody1, .imagenBody2, .imagenBody3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.imagenBody { grid-area: imagenBody; }
.imagenBody1 { grid-area: imagenBody1; }
.imagenBody2 { grid-area: imagenBody2; }
.imagenBody3 { grid-area: imagenBody3; }

// Rectangulo
.rectangulo {
    background-color: $secondary-color;
    border: 2px solid $dark-color;
    font-family: $font-family;
    font-weight: bold;

    a {
        color: $text-color;
        font-weight: bold;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            color: $dark-color;
        }
    }
}

// Icono
.icono {
    display: flex;
    flex-direction: row;
}

// Container
.containeraceites {
    gap: 5px;
}

.bodyaceites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
    font-size: medium;
    text-align: center;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
}

.item1, .item2, .item3, .item4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
}

// Compras
.comprasbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.compras1, .compras2, .compras3 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    div {
        display: flex;
        align-items: center;
    }

    button {
        width: 6.25rem;
        height: 2.5rem;
        font-size: medium;
        text-align: center;
        font-family: $font-family;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        margin-left: 10rem;
    }
}

// Historia
.historiabody {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-content: flex-start;
}

.bodyproduc {
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    gap: 1.25rem;
}

.produc1, .produc2, .produc3 {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-left: 1.25rem;
}

.produc3 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.historiabody {
    font-size: large;
    text-align: center;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.tituloproduc h1 {
    padding-top: 1.25rem;
}

// Container Historias
.containerhistorias {
    width: 25.5rem;
    height: 25.5rem;
    margin-top: 60px;

    @media(max-width: 768px) and (orientation: landscape) {
        display: none;
    }

    @media(max-width: 425px) {
        display: none;
    }
}

// Media Queries
@media(max-width: 425px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        height: 6.25rem;
        z-index: 1000;
    }

    .PartePrincipal {
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .iconoshead {
        display: none;
    }

    .napa {
        display: flex;
        margin-top: 10px;
        flex-direction: row-reverse;
        justify-content: space-around;
        font-size: small;
        text-align: right;
        font-family: $font-family;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    main {
        margin-top: 6.25rem;
        padding: 1.25rem;
    }
}

@media(max-width: 320px) {
    .compras1 button, .compras2 button, .compras3 button {
        width: 5.25rem;
        height: 1.5rem;
        margin-left: 5rem;
    }

    .rectangulo1 {
        display: none;
    }

    .rectangulo {
        display: none;
    }

    .containerhistorias {
        display: none;
    }

    .napa {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
