@import "./utility/variables";
@import "./utility/mixin";
@import "./base/reset";
@import "./components/navbar";
@import "./layout/header";
@import "./layout/main-index";




.titulo-pag {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}



a {
    text-decoration: none;
    color: $text-color;
}


.tituloindex {
    font-family: $font-family;
    font-size: 3rem;
    color: #333;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: color 0.3s, transform 0.3s;

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 50%;
        height: 4px;
        background-color: $highlight-color;
        transform: translateX(-50%);
        transition: background-color 0.3s;
    }

    &::after {
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
        font-size: 1.5rem;
        color: $hover-color;
    }

    &:hover {
        color: $hover-color;
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
        color: $hover-color;
        transform: scale(1.05);
    }
}

// Main Content
.PartePrincipal {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    @include grid (repeat(2,1fr),auto auto,center,center,1.25rem);
    grid-template-areas: 
    "imagenBody imagenBody1"
    "imagenBody2 imagenBody3";
    font-family: $font-family;
    font-size: x-large;
}

.imagenBody, .imagenBody1, .imagenBody2, .imagenBody3 {
    width: 100%;
    @include flex (column,none,none,center,1.25rem)
}

.imagenBody { grid-area: imagenBody; }
.imagenBody1 { grid-area: imagenBody1; }
.imagenBody2 { grid-area: imagenBody2; }
.imagenBody3 { grid-area: imagenBody3; }

// Rectangulo
.rectangulo {
    background-color: $secondary-color;
    border: 2px solid $dark-color;
    font-family: $font-family;
    font-weight: bold;

    a {
        color: $text-color;
        font-weight: bold;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            color: $dark-color;
        }
    }
}


.containeraceites {
    display: grid;
    gap: 20px;

    .item1, .item2, .item3 {
        position: relative;
        padding: 1rem;
        background-color:$secondary-color;
        
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            display: block;
        }

        p {
            font-family: $font-family;
            font-weight: bold;
            color: #333;
            background-color:$secondary-color;
            font-size: 20px;
        }
    }
   

    @media (max-width: 768px) {
        .item1, .item2, .item3 {
            img {
                display: none; // Hide the image

                &:after {
                    content: "";
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0.5; // Adjust opacity as needed
                }
            }

            .item1:after {
                background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.35.jpeg" );
            }

            .item2:after {
                background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.36.jpeg");
            }

            .item3:after {
                background-image: url("../assets/segundapagina/WhatsApp Image 2024-05-14 at 12.09.36 (1).jpeg");
            }

            p {
                position: relative;
                padding: 1rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                z-index: 1;
                border-radius: 8px;
                font-size: 16px;
            }
        }
    }

    @media (min-width: 769px) {
        .item1, .item2, .item3 {
            img {
                display: block; // Show the image
                width: 15%; // Adjust the width as needed
            }

            p {
                display: flex;
                align-items: center;
                padding-left: 20px;
                margin-top: 1rem;
                background-color:$secondary-color; // No background color for larger screens
                color: #333; // Text color for larger screens
                font-size: 16px;
            }
        }
    }
}


// Compras
.comprasbody {
    @include flex (column,none,none,center,none);
    margin-top: 20px;
}

.compras1, .compras2, .compras3 {
    @include flex (row,none,none,center,none);

    div {
        @include flex (row,none,none,center,none);
    
    }

    button {
        width: 6.25rem;
        height: 2.5rem;
        font-size: medium;
        text-align: center;
        font-family: $font-family;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        margin-left: 1.875rem;
    }
}

.button-pgcompras {
    background-color: #28a745; // Fondo verde
    color: white; // Texto blanco
    border: none; // Sin borde
    text-align: center;

    font-size: 16px; // Tamaño de fuente
    font-weight: bold; // Texto en negrita
    border-radius: 5px; // Bordes redondeados
    cursor: pointer; // Puntero de mano al pasar el ratón
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra
    transition: background-color 0.3s ease, transform 0.3s ease; // Transiciones para animaciones
  
    &:hover {
      background-color: #218838; // Fondo verde oscuro al pasar el ratón
      transform: scale(1.05); // Aumenta ligeramente de tamaño
    }
  
    &:active {
      background-color: #1e7e34; // Fondo verde más oscuro al hacer clic
      transform: scale(0.95); // Reduce ligeramente de tamaño
    }
  
    &:focus {
      outline: none; // Sin contorno al enfocar
      box-shadow: 0 0 0 3px rgba(72, 180, 97, 0.5); // Sombra de enfoque
    }
  }
  

// Historia

.historiabody {
    padding: 2rem;
    text-align: justify;
    
    .titulo-pag {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .text1, .text2, .text3, .text4 {
        margin-bottom: 1.5rem;

        p {
            
            line-height: 1.5;
            font-family: $font-family;
            font-size: 24px;
        }
    }
}


.bodyproduc {
    @include flex (column,none,none,none,1.25rem);
    font-size: medium;
    text-align: justify;
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    
}

.produc1, .produc2, .produc3 {
    @include flex (none,none,none,center,1.25rem);
    padding-left: 1.25rem;
}

.produc3 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

// Container Historias
.containerhistorias {
    width: 25.5rem;
    height: 25.5rem;
    margin-top: 60px;
    .carousel-item img {
        max-height: 400px; 
        object-fit: cover;
    }

    @media(max-width: 768px) and (orientation: landscape) {
        display: none;
    }

    @media(max-width: 425px) {
        display: none;
    }
}


// Media query para pantallas menores a 768px
@media (max-width: 769px) {
    .historiabody {
        padding: 1rem;

        .titulo-pag {
            font-size: 1.5rem; // Ajustar tamaño de fuente
            margin-bottom: 1rem; // Ajustar margen inferior
        }

        .text1, .text2, .text3, .text4 {
            margin-bottom: 1rem; // Ajustar margen inferior

            p {
                font-size: 12px; // Ajustar tamaño de fuente
                line-height: 1.4; // Ajustar interlineado
                font-family: $font-family;
                font-weight: bold;
           
            }
        }
    }

    .containerhistorias {
        margin-top: 1rem; // Ajustar margen superior

        .carousel-item img {
            max-height: 200px; // Reducir altura de la imagen
            object-fit: cover;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 2rem; // Ajustar tamaño de los controles
        height: 2rem; // Ajustar tamaño de los controles
    }

    .titulo-pag{
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin: 20px 0;
        animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
    }
    .bodyproduc {
        @include flex (column,none,none,none,1.25rem);
        font-size: medium;
        text-align: justify;
        font-family: $font-family;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;

        
    }
    
    .produc1, .produc2, .produc3 {
        @include flex (column,none,none,center,1.25rem);
        padding-left: 1.25rem;
        
    }
    
    .produc3 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .comprasbody{
        margin-top: 20px;
      @include flex (column,none,none,center,none);
        padding: 1rem;
      
    }
    .compras1, .compras2, .compras3 {
        margin-top: 15px;
        
        @include flex(column, none, center, center, none);

        div {
            @include flex(row, none,center, center, none);
            margin-top: 15px;
            
        }
     
        button {
            margin-left: 0;
            margin-top: 20px;
            text-align: center;
            
        }
    }

}

@media(max-width: 425px) {
    
    .PartePrincipal {
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .rectangulo1{
        display: none;
    }
    .compras1, .compras2, .compras3 {
        margin-top: 15px;
        
        @include flex(column, none, center, center, none);

        div {
            @include flex(row, none,center, center, none);
            margin-top: 15px;
            
        }
     
        button {
            margin-left: 0%;
            margin-top: 20px;
            text-align: center;
            
        }
    }
  
}

@media(max-width: 320px) {
    

    .rectangulo1 {
        display: none;
    }


    .containerhistorias {
        display: none;
    }

    .compras1, .compras2, .compras3 {
        margin-top: 15px;
        
        @include flex(column, none, center, center, none);

        div {
            @include flex(row, none,center, center, none);
            margin-top: 15px;
            
        }
     
        button {
            margin-left: 0;
            margin-top: 20px;
            text-align: center;
            
        }
    }
    
        
        
    }
    

    
    

