* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-pag {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(165, 173, 173);
}

main {
  margin-top: 12.5rem;
  padding: 1.5rem;
  background-image: linear-gradient(to right bottom, #314f36, #426448, #547a5a, #66906d, #79a781, #7bb184, #7eba87, #80c48a, #71c27c, #61bf6e, #50bc60, #3cb950);
}

.iconoshead {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
.iconoshead img {
  width: 20px;
  height: 20px;
}
.iconoshead button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-brand,
.nav-link,
.form-control,
.btn-outline-success {
  color: black !important;
  font-family: rgb(0, 0, 5);
}

.tituloindex {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  color: #333;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.3s, transform 0.3s;
}
.tituloindex::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 50%;
  height: 4px;
  background-color: #812814;
  transform: translateX(-50%);
  transition: background-color 0.3s;
}
.tituloindex::after {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 1.5rem;
  color: #942d16;
}
.tituloindex:hover {
  color: #942d16;
  transform: scale(1.05);
}
.tituloindex:focus {
  outline: none;
  color: #942d16;
  transform: scale(1.05);
}

.PartePrincipal {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "imagenBody imagenBody1" "imagenBody2 imagenBody3";
  gap: 20px;
  align-content: center;
  justify-content: center;
  font-family: "Teko", sans-serif;
  font-size: x-large;
}

.imagenBody, .imagenBody1, .imagenBody2, .imagenBody3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.imagenBody {
  grid-area: imagenBody;
}

.imagenBody1 {
  grid-area: imagenBody1;
}

.imagenBody2 {
  grid-area: imagenBody2;
}

.imagenBody3 {
  grid-area: imagenBody3;
}

.rectangulo {
  background-color: rgb(129, 163, 102);
  border: 2px solid rgb(0, 0, 5);
  font-family: "Teko", sans-serif;
  font-weight: bold;
}
.rectangulo a {
  color: black;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
}
.rectangulo a:hover {
  color: rgb(0, 0, 5);
}

.icono {
  display: flex;
  flex-direction: row;
}

.containeraceites {
  gap: 5px;
}

.bodyaceites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.25rem;
  font-size: 25px;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 20px;
}

.item1, .item2, .item3, .item4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.comprasbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.compras1, .compras2, .compras3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.compras1 div, .compras2 div, .compras3 div {
  display: flex;
  align-items: center;
}
.compras1 button, .compras2 button, .compras3 button {
  width: 6.25rem;
  height: 2.5rem;
  font-size: medium;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin-left: 10rem;
}

.button-pgcompras {
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-pgcompras:hover {
  background-color: #218838;
  transform: scale(1.05);
}
.button-pgcompras:active {
  background-color: #1e7e34;
  transform: scale(0.95);
}
.button-pgcompras:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(72, 180, 97, 0.5);
}

.historiabody {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-content: flex-start;
}

.bodyproduc {
  display: flex;
  flex-direction: column;
  font-size: medium;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  gap: 1.25rem;
}

.produc1, .produc2, .produc3 {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-left: 1.25rem;
}

.produc3 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.historiabody {
  font-size: large;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.containerhistorias {
  width: 25.5rem;
  height: 25.5rem;
  margin-top: 60px;
}
@media (max-width: 768px) and (orientation: landscape) {
  .containerhistorias {
    display: none;
  }
}
@media (max-width: 425px) {
  .containerhistorias {
    display: none;
  }
}

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.25rem;
    z-index: 1000;
  }
  .PartePrincipal {
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .iconoshead {
    display: none;
  }
  .napa {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: small;
    text-align: right;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  main {
    margin-top: 6.25rem;
    padding: 1.25rem;
  }
}
@media (max-width: 320px) {
  .compras1 button, .compras2 button, .compras3 button {
    width: 5.25rem;
    height: 1.5rem;
    margin-left: 5rem;
  }
  .rectangulo1 {
    display: none;
  }
  .rectangulo {
    display: none;
  }
  .containerhistorias {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */