$primary-color: rgb(165, 173, 173);
$secondary-color: rgb(129, 163, 102);
$dark-color: rgb(0, 0, 5);
$text-color: black;
$highlight-color: #812814;
$hover-color: #942d16;
$font-family: "Teko", sans-serif;